/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/laskarit/viikko2/OpencvTest/nbproject/private/
/laskarit/viikko2/OpenCVTest/target/
/laskarit/viikko2/OpenCvTest/target/